<h1>Register</h1>
<p>Already a member? Please <a routerLink="/signin">sign in</a>.</p>
<form>
  <div>
    <label for="name">Full name</label>
    <input type="text" name="name" placeholder="Enter name" [(ngModel)]="credentials.name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password">
  </div>
  <button type="submit">Register</button>
</form>
